/* @media screen and (max-width: 576px)  */

/* header */
header {
  width: 100%;
  height: auto;
  padding-left: 20px;
  overflow: hidden;
}

/* nav */
.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.navtitle {
  font-size: 2rem;
  line-height: 100%;
}

.nav__list {
  border: none;
}

.nav__item {
  display: none;
}

.bar__icon {
  display: block;
  width: 90%;
  height: auto;
  text-align: center;
}

.nav__item a {
  font-size: 1rem;
  line-height: 100%;
}

/* banner */
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.banner__text--container {
  width: 100%;
  height: auto;
  margin-top: 70px;
  margin-right: 0;
  margin-left: 0px;
}

.banner__text--container h1 {
  width: 80%;
  height: auto;
  font-size: 3rem;
  font-weight: 900;
  line-height: 100%;
  text-align: left;
  margin-bottom: 20px;
}

.banner__text--container p {
  width: 80%;
  height: auto;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1px;
  text-align: left;
  margin-bottom: 28px;
}

.banner__btn {
  display: flex;
  justify-content: flex-start;
  gap: 14px;
}

.join__btn,
.download__btn {
  max-width: 169px;
  height: 54px;
  padding: 0;
  border-radius: 42px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 20px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.download__btn {
  border: 1px solid rgb(255, 255, 255);
  background-color: #111111;
  color: rgb(255, 255, 255);
}

.banner__image--container {
  max-width: 353px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 48px;
}

.banner__image {
  width: 100%;
  max-width: 353px;
  height: auto;
}

.banner__image img {
  width: 100%;
  height: 100%;
}

.div350 {
  max-width: 155.74px;
  height: 72.58px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  position: absolute;
  top: 280px;
  left: 10px;
}

.div350 h4 {
  font-size: 1.2rem;
  font-weight: 900;
  line-height: 20px;
  letter-spacing: 0.3px;
  text-align: left;
}

.div350 p {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1px;
  text-align: left;
}

.div500 {
  max-width: 145.91px;
  height: 74.09px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  position: absolute;
  top: 50px;
  right: 15px;
}

.div500 h4 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 35px;
}

.div500 p {
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 18px;
}

/* main */

/* change__habit--section */
.change__habit--section {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
}

.habit__text--container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.habit__text--container h2 {
  max-width: 318px;
  height: auto;
  font-size: 2rem;
  font-weight: 900;
  line-height: 100%;
  text-align: center;
  margin-bottom: 14px;
}

.habit__text--container p {
  width: 100%;
  height: auto;
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.3px;
  text-align: center;
  margin-bottom: 54px;
}

.habit__image--container {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.image__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image__container h4 {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 100%;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 6px;
}

.image__container p {
  font-size: 0.8rem;
  line-height: 14px;
  letter-spacing: 0.3px;
  text-align: center;
}

/* extra mile section */
.extra__mile--section {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.extra__mile--contents {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.extra__mile--contents h2 {
  width: 90%;
  height: auto;
  font-size: 2rem;
  line-height: 120%;
  margin-bottom: 12px;
}

.extra__mile--contents p {
  width: 90%;
  height: auto;
  font-size: 0.8rem;
  line-height: 20px;
  letter-spacing: 0.3px;
  text-align: left;
}

.extra__mile--contents #join__btn {
  width: 90%;
  height: 54px;
  padding: 0;
  margin: 24px 0px;
  border-radius: 42px;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 22px;
}

.extra__mile--image {
  width: 80%;
  height: auto;
  margin-bottom: 30px;
}

.extra__mile--image img {
  width: 100%;
  height: 100%;
}

/* BMI Content */
.BMI__content {
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 22px;
  margin-bottom: 32px;
}

.BMI__content h2 {
  width: 100%;
  height: auto;
  font-size: 2rem;
  line-height: 100%;
  margin-bottom: 14px;
}

.BMI__content p {
  width: 100%;
  height: auto;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.3px;
  text-align: left;
}

/* BMI__calculator--section */
.BMI__calculator--section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BMI__chart {
  width: 80%;
  height: auto;
  margin-top: 52px;
}

.BMI__chart h3 {
  width: 100%;
  height: auto;
  font-size: 1rem;
  line-height: 100%;
  text-align: left;
  margin-bottom: 23px;
}

.BMI__chart .chart__table table {
  width: 100%;
  height: auto;
}

.BMI__chart .chart__table table,
td,
th {
  text-align: center;
  padding-top: 15px;
  padding-left: 18px;
  padding-bottom: 14px;
}

.BMI__chart .chart__table table th {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1rem;
}

.BMI__chart .chart__table table td {
  font-size: 0.8rem;
}

.BMI__calculator {
  width: 80%;
  height: auto;
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.BMI__calculator h3 {
  width: 100%;
  height: auto;
  font-size: 1rem;
}

.BMI__calculator p {
  width: 100%;
  height: auto;
  font-size: 0.8rem;
  margin-bottom: 34px;
}

.calculate__form input::placeholder,
.calculate__form select::placeholder {
  width: 100%;
  height: auto;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

.calculate__form .form1,
.form2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.calculate__form #weight,
#height,
#age,
#sex {
  width: 50%;
  height: auto;
  padding: 12px 20px;
  margin: 0px 12px;
  font-size: 0.8rem;
}

.calculate__form #activity {
  width: 93%;
  height: auto;
  padding: 12px 20px;
  margin: 0px 12px;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 22px;
}

#calculate__btn {
  width: 80%;
  height: 54px;
  padding: 0;
  margin: 34px 0px;
  border-radius: 42px;
  font-size: 1.1rem;
}


/* team section */
.team-section {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 66px;
}

.team__contents {
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 48px;
}

.team__contents__title {
  width: 100%;
  height: auto;
  font-size: 2rem;
  margin-bottom: 14px;
}

.team__contents__description {
  width: 100%;
  height: auto;
  font-size: 0.8rem;
}

.team__images {
width: 80%;
height: auto;
  padding: 10px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.team__image {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.team__image img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  opacity: 85%;
}

.team__image__title,
.team__image__description {
  position: relative;
  bottom: 25%;
  left: 5%;
}

.team__image__title {
  font-size: 0.95rem;
}

.team__image__description {
  font-size: 0.8rem;
}


/* footer */
.footer {
  width: 100%;
  height: auto;
  margin-top: 66px;
  /* padding-top: 1px; */
  border: 1px solid transparent;
}

.footer-content {
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 44px;
  margin-bottom: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__fitness__content {
  width: 100%;
  height: auto;
}

.footer__fitness__title {
  width: 90%;
  height: auto;
  font-size: 3rem;
  margin-bottom: 20px;
}

.footer__fitness__description {
  width: 90%;
  height: auto;
  font-size: 0.8rem;
}

.footer__get__started__content {
  width: 100%;
  height: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.get__started__title {
  font-size: 1.5rem;
  margin-bottom: 39px;
}

.get__started__description {
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.horizontal__row {
  width: 95%;
  height: 0;
  border: 2px solid rgba(255, 255, 255, 0.1);
  margin: 0 auto;
}

.footer__description {
width: 80%;
height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 36px;
  margin-bottom: 57px;
  font-size: 1.1rem;
}
