@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

body {
  width: 99%;
  height: 715px;
  border: 2px solid red;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* shared styles */
#display__hide {
  display: none;
}

/* header elements start */
header {
  width: 100%;
  height: auto;
  background-color: #1B1B1B;
  border: 1px solid #1B1B1B;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24.45px;
  margin-bottom: 79px;
}

.navbar__logo {
  width: 273.63px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navbar__logo .nav__title {
  font-size: 1.83rem;
  font-weight: 800;
  line-height: 36.6px;
  text-align: left;
  color: rgb(230, 83, 60);
}

.nav__lists {
  width: 400px;
/* height: 46px; */
/* border: 2px solid rebeccapurple; */
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  margin-right: 40px;
}

.nav__item {
  list-style: none;
  margin-right: 44px;
}

#home__color {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74.8px;
  /* axp */
  height: auto;
  padding: 6.5px 16.26px;
  border-radius: 46px;
  border: none;
  background: rgb(230, 83, 60);
  margin: 0px 38.2px;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 17.89px;
  text-align: left;
}

#home__color a {
  color: rgb(255, 255, 255);
}

.nav__item a {
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.nav__item.secondary__color a {
  color: rgb(255, 84, 0);
}

/* banner */
.banner {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.banner__content {
  width: 50%;
  height: auto;
}

.banner__title {
  width: 422.7px;
  color: rgb(255, 255, 255);
  font-size: 4rem;
  font-weight: 900;
  line-height: 120%;
  text-align: left;
  margin-bottom: 22px;
}

#shape {
  font-family: "Dancing Script", cursive;
}

.banner__description {
  width: 422.7px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 0.81rem;
  letter-spacing: 0.5px;
  text-align: left;
  margin-bottom: 22px;
}

.join__btn,
.download__btn {
  width: 182px;
  height: 48px;
  padding: 16px 40px 16px 40px;
  padding: 13px 32.5px;
  margin: 0px 11.4px;
  border-radius: 42px;
  background: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
}

.join__btn {
  margin-right: 11.4px;
  margin-left: 0;
  border: none;
}

.download__btn {
  background-color: #101010;
border: 1px solid rgb(255, 255, 255);
text-align: center;

}

.banner__image {
  position: relative;
}

.image {
  width: 284px;
  height: 460px;
  margin-top: -60px;
}

.image img {
  width: 100%;
  height: 100%;
}

.div350 {
  width: 140.5px;
  height: 69px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20%;
  left: -30%;
}

.div500 .circle {
  width: 40px;
  height: 40px;
  background: rgb(230, 83, 60);
}

.div350 h4 {
  color: rgb(250, 250, 249);
  font-size: 1.2rem;
  font-weight: 900;
  line-height: 19.5px;
  letter-spacing: 0.3px;
  text-align: left;
}

.div350 p {
  color: rgba(239, 237, 232, 0.65);
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 19.5px;
  letter-spacing: 0.5px;
  text-align: left;
}

.div500 {
  width: 156px;
  height: 69px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  right: -20%;
}


.div500 h2 {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 900;
  line-height: 32.5px;
  letter-spacing: 1px;
  text-align: left;
}

.div500 p {
  color: rgba(239, 237, 232, 0.65);
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 19.5px;
  letter-spacing: 0.5px;
  text-align: left;
}


/* footer elements start */
footer {
  width: auto;
  height: auto;
  background-color: #1a1a1a;
}

.footer__content {
  width: 70%;
  height: auto;
  margin: 0 auto;
  margin-top: 54px;
  display: flex;
}

.footer__title--content {
  width: 40%;
  height: auto;
}

.footer__title {
  color: rgb(230, 83, 60);
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 54px;
  margin-bottom: 16px;
}

.footer__description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 19.5px;
  letter-spacing: 0.3px;
  text-align: left;
}

.footer__get--started1,
.footer__get--started2 {
  width: 30%;
  height: auto;
}

.footer__get--started1 h2,
.footer__get--started2 h2 {
  color: rgb(152, 62, 62);
  font-size: 1.62rem;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 54px;
  margin-bottom: 32px;
}

.footer__get--started1 p,
.footer__get--started2 p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  margin-bottom: 16.3px;
}

.horizontal__row {
  width: 70%;
  height: auto;
  margin: 0 auto;
  border: 2px solid rgba(255, 255, 255, 0.1);
  color: rgba(153, 31, 31, 0.5);
  margin-top: 64.23px;
  margin-bottom: 29px;
}

#copyright__msg {
  width: 258px;
  height: 20px;
  margin: 0 auto;
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 19.5px;
  letter-spacing: 0.3px;
}
